*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

main{
   background-color: #fee715;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;

   
}

.con-1{
    width: 400px;
    height: 500px;
    background-color: white;
    margin-top: 100px;
    border: none;
    border-radius: 10px;
}

.login{
    font-size: 25px;
    margin-left: 90px;
    padding-top: 20px;


}

.btn{
    width: 250px;
    height: 40px;
    text-align: center;
    margin-left: 90px;
    border: none;
    background-color: #fee715;
    color: #101820;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button{
    width: 150px;
    height: 40px; 
    border: none;
    margin-left: 150px;
    margin-top: 70px;
    background-color: #fee715;
    border-radius: 5px;
}

button:hover{
    background-color: #101820;
    color: #fee715;
    c
}

