* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}


:root {
    /* --bg-color: #fee715; */
    --bg-color: #f3f049fb;
    --text-color: #101820;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.308);
    --box-shadow: 0 .3rem .2rem #101820;
}


/* Start Header */
.navigations {
    display: flex;
    padding: 2rem 7%;
    background: var(--text-color);
    width: 100vw;
    align-items: center;
    transition: .5s;
}

.logo {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
}

.navbar a {
    margin-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
}

.navbar a:hover {
    background: var(--white-color);
    color: var(--text-color);
    padding: 2.8rem .8rem;
}

#active {
    color: var(--white-color);
    padding: .7rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--white-color);
}

#active:hover {
    color: var(--text-color);
}
/* End navigatioin */


/* Start content */
.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    padding: 2rem 7%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
}

.con-img img {
    width: 600px;
    border-radius: 5px;
}

.con-txt {
    color: var(--text-color);
    align-items: center;
    justify-content: center;
}

.con-txt > h2 {
    font-size: 3rem;
    margin-bottom: 3rem;

}

.search input {
    padding: 1rem 3rem;
    border: none;
    outline:none;
    border-radius: 5px 0 0 5px;
}

.search label{
    padding: 1rem 1rem;
    border: none;
    outline:none;
    border-radius:  0 5px 5px 0;
    background-color: var(--text-color);
    color: var(--white-color);
    cursor: pointer;
    margin-left: -.3rem;
    font-weight: 500;
}
/* End Content */


/* What is Artificer */
.experience {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 2rem 7%;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.exp-img img {
    width: 600px;
    border-radius: 5px;
}

.exp-txt > h2 {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1rem;

}

.exp-txt > p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.exp-txt {
    color: var(--text-color);
    font-size: .9rem;
    text-align: justify;
    margin-right: 5rem;
}

.grow {
    margin: 2rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.grow > div > h3 {
    color: var(--text-color);
    font-style: bolder;
    font-size: 1.5rem;
}

.grow > div > p {
    color: var(--shadow-color);
    font-weight: 500;
    padding-bottom: 2rem;
}

.btn {
    background-color: var(--bg-color);
    padding: 1.3rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.btn:hover {
    background-color: var(--bg-color);
    opacity: .8;
    color: var(--text-color);
}
/* End */


/* How it works */
.how-work {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 2rem 7%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 5rem;
    background-color: #a39f9f10
}

.how-sec {
    margin: 2rem;
    display: flex;
    gap: 4rem;
}

.how-sec > div  {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    height: 20rem;
    width: 15rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 .3rem .2rem var(--text-color);
}

.child1 {
    background-image: url(./Assests/artimage/Carpenter.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.child2 {
    background-image: url(./Assests/artimage/Make\ Up\ Artist.jpg);
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.child3 {
    background-image: url(./Assests/artimage/Tailor.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.child4 {
    background-image: url(./Assests/artimage/worker-sitting-rusty-tubes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.how-sec > div > h3 {
    font-style: bold;
    font-size: 1.5rem;
    color: var(--bg-color);
    background-color: #101820b6;
    box-shadow: 0 .1rem .4rem var(--text-color);
}

.how-txt {
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: justify;
}

.how-txt > h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
}
/* End */




/* Category */
.catego {
    padding: 2rem 7%;
    text-align: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.catego > h3 {
    margin: 5rem 3rem;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.catego-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    width: 60vw;
    margin: auto;
}

.catego-img > img {
    width: 8rem;
}

.catego-img > h3 {
    font-size: 1rem;
    color: grey;
}
/* End */



/* 
Testimonial 
*/
.slider {
    height: 70vh;
    width: 100vw;
	position: relative;
    padding: 2rem 7%;
}

.slider ul {
	list-style: none;
}

.slider ul li {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.slider li {
    padding: 3rem;
    width: 80vw;
    height: 55vh;
    margin: auto;
    border-radius: 5px;
	position: absolute;
	opacity: 0;
	transition: opacity 1s ease-in-out;
    background-color: var(--bg-color);

}

.slider > ul > li > img {
	height: 100px;
	width: 100px;
    border-radius: 50%;
    background-color: black;
}

.slider li.active {
	opacity: 1;
}

.slider .caption {
	color: var(--text-color);
	font-size: 1.5rem;
	text-align: center;
    padding: 2rem;
}

.slider .caption > h4 {
    padding: 3rem;
    font-size: 1.3rem;
}
/* End */


/* partners logos */
.our-partners {
    padding: 2rem 7%;
    text-align: center;
    flex-wrap: wrap;
    height: 60vh;
    width: 100vw;
}

.our-partners > h3 {
    margin: 3rem;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.our-partner-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.client-img > img {
    width: 7rem;
}
/* End */


.m-foot {
    height: 60vh;
    padding: 2rem 7%;
    /* background-color: rgba(0, 0, 0, 0.897); */
    background-color: var(--text-color);
    justify-content: center;
}


.foot-logo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--white-color);
}

.abt1 > p {
    margin: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    color: var(--white-color);
}


.quick-link1 {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.nav-foot a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    margin: 1rem;
    text-align: center;
}

.nav-foot a:hover {
    color: var(--bg-color);
}

.foot-sos {
    display: flex;
    align-items: center;
}

.foot-sos>p {
    margin-right: auto;
    color: var(--white-color);
}

.so-icon a {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--white-color);
}

.so-icon a:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: .2rem .5rem;
    border-radius: 5px;
}
