* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: none;
    outline: none; */
    scroll-behavior: smooth;
    font-family: sans-serif;
}


:root {
    --bg-color: #fee715;
    --text-color: #101820;
    --white-color: #fdfdfd;
    --shadow-color: rgb(0, 0, 0, .2);
}

/* .body{
    background: var(--bg-color);
    color: var(--text-color);
} */


/* start header1 */
.header-1 {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: var(--white-color);
    align-items: center;
    z-index: 100;
    transition: .5s;
    display: flex;
    justify-content: space-between;
}


/* .header-1.sticky{
    background-color: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
} */

.social-icon a {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

.social-icon a:hover {
    background-color: var(--text-color);
    color: var(--white-color);
    padding: .2rem .5rem;
    border-radius: 5px;
}

.login-page a{
    margin-right: .3rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.login-page .reg:hover {
    padding: .7rem;
    border-radius: 5px;
    outline: 2px solid var(--text-color);
}

.login-page .active {
    background-color: var(--text-color);
    color: #fdfdfd;
    padding: .7rem 1rem;
    border-radius: 5px;
}
/* End header1 */

/* start navigation */
.navigations {
    display: flex;
    padding: 2rem 7%;
    background: var(--text-color);
    width: 100%;
    align-items: center;
    transition: .5s;
}

.logo {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
}

.navbar  a{
    margin-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
}

.navbar a:hover{
    background: var(--white-color);
    color: var(--text-color);
    padding: 2.3rem .8rem;
}
/* End navigatioin */

/* Start content */
.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 2rem 7%;
    justify-content: space-around; 
    /* justify-content: center; */
    align-items: center;
    padding-top: 7rem;
    background-color: var(--bg-color);

}

.con1-txt {
    font-weight: bolder;
    color: var(--text-color);
    font-size: 1.9rem;
    line-height: 3.5rem;

}

.con1-txt input {
    padding: .8rem 5rem;
}

.con1-txt label {
    font-size: 1rem;
    background: var(--text-color);
    color: var(--white-color);
    padding: .9rem 2rem;
    border-radius: .2rem;
}

.con2-img img {
    width: 600px;
    height: 500px;
}
/* End Content */

.experience {
    display: flex;
    height: 80vh;
    width: 100%;
    padding: 2rem 7%;
    justify-content: space-between;
    padding-top: 10rem; 
}

.exp-txt {
    color: var(--text-color);
    /* font-size: 1.9rem; */
    line-height: 2rem;
    text-align: justify;
    margin-right: 10rem;
}


.exp-img img{
    width: 500px;
    height: 500px;
}













